// Colors
$primary: #845ec2;
$secondary: #ff6f91;
$accent: #f9f871;
$support: #ffc75f;

// primary - secondary - disable - border - divider - theader
$white-85: rgba(255, 255, 255, 0.85);
$white-45: rgba(255, 255, 255, 0.45);
$white-30: rgba(255, 255, 255, 0.30);
$white-20: rgba(255, 255, 255, 0.20);
$white-12: rgba(255, 255, 255, 0.12);
$white-08: rgba(255, 255, 255, 0.08);
$white-04: rgba(255, 255, 255, 0.04);

$black-85: rgba(0, 0, 0, 0.85);
$black-45: rgba(0, 0, 0, 0.45);
$black-25: rgba(0, 0, 0, 0.25);
$black-15: rgba(0, 0, 0, 0.15);
$black-06: rgba(0, 0, 0, 0.06);
$black-04: rgba(0, 0, 0, 0.04);
$black-02: rgba(0, 0, 0, 0.02);

// #fff -> #000
$gray-1: #ffffff;
$gray-2: #fafafa;
$gray-3: #fdfdfd;
$gray-4: #f0f0f0;
$gray-5: #d9d9d9;
$gray-6: #bfbfbf;
$gray-7: #8c8c8c;
$gray-8: #595959;
$gray-9: #434343;
$gray-10: #262626;
$gray-11: #1f1f1f;
$gray-12: #141414;
$gray-13: #000000;