@use './partials' as *;

body {
  background-color: $gray-11;
  color: $black-85;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 150vh;
}

.nav {
  @include box(65px, 100%);
  position: fixed;
  top: 0;
  overflow: hidden;

  @include media('<=sm') {
    background-color: $support;
  }

  @include media('>sm', '<=md') {
    background-color: $accent;
  }

  @include media('>md', '<lg') {
    background-color: $secondary;
  }

  @include media('>=lg', '<xl') {
    background-color: $primary;
  }

  @include media('>=xl') {
    background-color: red;
  }
}

.nav-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left {
  margin-left: $margin-unit;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  @include test-border(blue);
  margin-right: $margin-unit;
}

.content {
  @include box(50px, 50px);
  background-color: $primary;
  @include push--auto;
  @include ends(12px, 12px);
}

.side {
  background-color: $secondary;
  @include ends(12px, 12px);
  margin-top: 240px;
}

.footer {
  background-color: $accent;
  @include ends(12px, 12px);
}
